name: Python application

on:
  push:
    branches: [ main, github-actions ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.12.12
      uses: actions/setup-python@v3
      with:
        python-version: "3.12.12"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Lint with pylint
      run: |
        pylint src/ tests/ --fail-under=8.0
    - name: Test with pytest
      run: |
        pytest